# Custom
SearchStaticLib_autogen
algolia-suggest
algolia-suggest_autogen/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
helloWorld/HelloWorld

# Build File
*CMakeCache.txt
*CMakeFiles*
*.cmake
Makefile
